body {
  background: #202542;
  font-family: Arial, Helvetica, sans-serif;
  color: #191b2c;
  margin: 0;
}

#nuovo {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: none;
  border: 3px dashed white;
  color: white;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#nuovo:hover {
  background: rgba(255, 255, 255, 0.1);
  font-size: 80px;
}

#tasks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 30px;
}

#tasks .task {
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  min-width: 140px;
  position: relative;
}

#tasks .task .completato {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  background: none;
  min-height: auto;
  padding: 0;
  border: 2px solid #50e657;
  color: #50e657;
  background: #50e65848;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}

#tasks .task .container {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
  mix-blend-mode: difference;
  color: #ffffff;
}

#tasks .task .container h1 {
  padding: 25px 15px 5px 15px;
  margin: 0;
}

#tasks .task .container p {
  padding: 15px 15px;
  background: rgba(51, 51, 51, 0.274);
  min-height: 43%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 43%;
}

#tasks .task .actions {
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.466);
  border-radius: 10px;
}

#tasks .task .actions .tick {
  border: 2px solid #50e657;
  color: #50e657;
  background: #50e65848;
}

#tasks .task .actions .tick:hover {
  background: #50e65873;
}

#tasks .task .actions .cross {
  border: 2px solid #e46666;
  color: #e46666;
  background: #f18f8f4b;
}

#tasks .task .actions .cross:hover {
  background: #f18f8fb4;
}

#tasks .task .actions .mod {
  border: 2px solid #b3b3b3;
  color: #b3b3b3;
  background: #ffffff4b;
}

#tasks .task .actions .mod:hover {
  background: #ffffffb4;
}

#tasks .task .actions .tick,
#tasks .task .actions .cross,
#tasks .task .actions .mod {
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  margin: 5px;
}

#tasks .task .actions:hover {
  opacity: 1;
}

#tasks .task:hover .container {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.newTask {
  margin: 10px;
  position: relative;
}

.newTask .container {
  background: white;
  border-radius: 10px;
}

.newTask .container input {
  font-size: 2em;
  padding: 25px 15px 5px 15px;
  margin: 0;
  background: none;
  border: 0;
  outline: 0;
  display: block;
  font-size: 2em;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 15px 5px 15px;
  margin: 0;
  width: 100%;
}

.newTask .container textarea {
  padding: 15px 15px;
  background: rgba(51, 51, 51, 0.1);
  min-height: 43%;
  resize: none;
  outline: 0;
  border: 0;
  width: 100%;
  display: block;
  margin: 16px 0 10px 0;
  height: 116px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 8px 10px -10px black;
          box-shadow: 0 8px 10px -10px black;
}

.newTask .aggiungiElimina-container {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 22px;
  right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 220px;
}

.newTask .aggiungi,
.newTask .elimina {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border: 0;
  font-size: 14px;
  outline: none;
  margin: 0;
  background: none;
  padding: 0;
  padding: 5px 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 20px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2000px;
}

.newTask .aggiungi {
  border: 2px solid #50e657;
  color: #50e657;
  background: #50e65848;
}

.newTask .aggiungi:hover {
  background: #50e65873;
}

.newTask .elimina {
  border: 2px solid #e46666;
  color: #e46666;
  background: #ecc7c7;
}

.newTask .elimina:hover {
  background: #ecb2b2;
}

.newTask:hover .aggiungiElimina-container {
  opacity: 1;
}

.modifyTask {
  display: block;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.486);
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modifyTask .container {
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 black;
          box-shadow: 0 0 20px 0 black;
  width: 700px;
  height: 400px;
}

.modifyTask .container input {
  font-size: 2em;
  padding: 25px 15px 5px 15px;
  background: none;
  border: 0;
  outline: 0;
  display: block;
  font-size: 4em;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 124px;
  padding: 25px 15px 5px 15px;
  margin: 0;
  width: 100%;
}

.modifyTask .container textarea {
  padding: 15px 15px;
  background: rgba(51, 51, 51, 0.1);
  min-height: 43%;
  resize: none;
  outline: 0;
  border: 0;
  width: 100%;
  display: block;
  margin: 0px 0 20px 0;
  height: 277px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 32px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 8px 10px -10px black;
          box-shadow: 0 8px 10px -10px black;
}

.modifyTask .aggiungiElimina-container {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.modifyTask .confermaMod,
.modifyTask .chiudiMod {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border: 0;
  font-size: 26px;
  outline: none;
  margin: 0;
  background: none;
  margin: 10px;
  padding: 0;
  padding: 10px 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2000px;
}

.modifyTask .confermaMod {
  border: 2px solid #50e657;
  color: #50e657;
  background: #afebb248;
}

.modifyTask .confermaMod:hover {
  background: #93ee9873;
}

.modifyTask .chiudiMod {
  border: 2px solid #e46666;
  color: #e46666;
  background: #ecc7c748;
}

.modifyTask .chiudiMod:hover {
  background: #ecb2b273;
}

.modifyTask:hover .aggiungiElimina-container {
  opacity: 1;
}

.fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/*# sourceMappingURL=index.css.map */